@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

//let style default styling
:root{
    --primaryColor :hsl(94, 94%, 50%);
    --hoverColor:hsl(93,75%,76%);
    --paleGreen:hsl(96,75%,89%);
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --greyText:hsl(0,0%,75%);
    --bgColor:hsl(0, 100%, 50%);
    --inputColor:hsl(330,12%,97%);
    --inputColorAlt:hsl(154,14%,90%);

    //Font ang typogrophy

    --biggestFintSize:2.5rem;
    --h1FintSize:1.5rem;
    --h2FintSize:1.25rem;
    --h3FintSize:1rem;
    --normalFontSize:.938rem;
    --smallFontSize:811rem;
    --smallestFintSize:.75rem;
}
.flex{
    display: flex;
    align-items: center;
}

.grid{
    display:block;
    align-items: center;
    gap: 1.5 rem
}
html{
    font-size: 90%;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icon{
    font-size: var(--h2FintSize);
    cursor: pointer;
}
img,video{
    height: 100%;
    width: 100%;
    
}
.message{
    display: none;
}
.showMessage{
    display: block;
    color: var(--whiteColor);
    padding: 10px;
    background: rgb(245, 114, 114);
    border-radius: 3px;
    text-align: center;
    
}
.showMessage{
    display: block;
    color: var(--whiteColor);
    background: rgb(255,0,0);
    border-radius: 3px;
    text-align: center;

}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--greyText);
}
.btn.icon{
    margin-left: .5rem;
}
.btn:hover{
    color: var(--primaryColor);
    background: var(--paleGreen);

}

